@import "tailwindcss";

:root {
  --background: var(--skyblue);
  --foreground: #c71d69;
  --foregroundhue: #d84381;
  --textcolor: #424242;
  --beige: #faf4ed;
  --accentpink: #c51665;
  --accentyellow: #fcb82f;
  --accentorange: #FC6031;
  --prettycolor: #1E1E1F;
  --skyblue2: #446ebc;
  --skyblue: #12b4a9;; /* main bg color */
  --skyblue1: #3b35ae;
  --lightblue: #86bdd8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foregroundhue: var(--foregroundhue);
  --color-textcolor: var(--textcolor);
  --color-accent: var(--accentyellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: 'Momo Trust Display', sans-serif;
}


@media (prefers-color-scheme: dark) {
  body {
      /*Dark mode gradient - different colors! */
      /*background: linear-gradient(to bottom, #7b7bd5 60%, #0a0a0a);*/
      background: var(--foreground);
      color: #ffffff;
    }
}

body {
  /*background: linear-gradient(to bottom, var(--skyblue) 60%, #3567ae);*/
  background: var(--beige);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
